body {
  background-color: black;
  color: white;
}

div #heading {
  border: 1px solid yellow;
}

div .bottom-inputs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

div .bottom-inputs input {
  width: 20vw;
  height: 20px;
  border-color: white;
  background-color: black;
  border-width: 1px;
  color: white;
}
